body {
    text-align: center;
}

table.rating {
    border: 1px solid black;
    width: 1%;
    margin: auto;
}

table.rating tr td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

table.rating tr td.tdCompare {
    width: 100px;
}

table.rating tr td span.sortButton {
    font-weight: bold;
    border-bottom: 1px dashed black;
    cursor: pointer;
}

table.rating tr td.tdCount {
    width: 120px;
    min-width: 120px;
}

table tr td.userBlock {
    white-space: nowrap;
}

table.problems {
    table-layout: fixed;
    margin: auto;
}

table.problems tr td {
    width: 60px;
    min-width: 60px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

table.problems tr td:empty {
    border-color: white;
}

.txtMarkA, td.tdMarkA {
    background-color: ccf;
}

.txtMarkB, td.tdMarkB {
    background-color: fcc;
}

div.trainingHeader {
    font-weight: bold;
    margin: 30px 0 0 0;
}

table.trainings {
    width: 1%;
    margin: 5px auto auto auto;
}

table.trainings tr td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

table.trainings tr td:empty {
    border-color: white;
}

table.trainings tr td.problemBlock {
    width: 30px;
    min-width: 30px;
}
